/*--------------------------------------------------------------
1.0 - TYPOGRAPHY
-------------------------------------------------------------- */
.fa {
  font-size: 1.5rem; }

.title h1 {
  font-size: 1.2rem; }

.title p, .mobile-nav a, .main-nav a {
  font-size: .9rem; }

.mobile-nav a, .main-nav a {
  font-weight: 400; }

h1, .mobile-nav a, .main-nav a, .header-content h2 {
  text-transform: uppercase;
  letter-spacing: .07rem; }

/*-- 1.1 - Headings --*/
.header-content {
  border-bottom: 1px solid #f2f0ed;
  margin-bottom: 1.5em;
  padding: 0 0 1.5em; }

.page-header {
  color: #aaa;
  font-size: .8rem;
  letter-spacing: .10rem;
  margin: 0;
  text-align: left;
  word-spacing: .5rem;
  font-weight: 400; }

/*Layout*/
html * {
  padding: 0;
  margin: 0; }

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  -webkit-font-smoothing: antialiased; }

::-webkit-scrollbar {
  display: none; }

::-moz-scrollbar {
  display: none; }

::-ms-scrollbar {
  display: none; }

/*-- 1.5 - Articles --*/
.article-item {
  border-top: 1px solid #f2f0ed;
  padding: 1rem 0; }

.article-item:first-child {
  border-top: 0;
  padding-top: 0; }

.article-preview-title {
  display: block;
  font-size: 1.6em;
  margin: .667em 0 .333em;
  -webkit-transition: color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 0.2s cubic-bezier(0.4, 0, 0.2, 1); }

.footnotes {
  border-top: 1px solid #f2f0ed;
  color: #555;
  padding-top: 1.5em; }

.footnotes-item {
  font-size: .8em; }

/*-- 2.1 - Main Menu --*/
.main-nav li, .mobile-nav li, .bullets {
  display: inline-block;
  margin: .8rem 0 .9rem .8rem; }

main li {
  display: block; }

.mobile-btn-wrapper {
  display: flex;
  justify-content: flex-end; }

.main-nav, .mobile-nav {
  display: none; }

.mobile-nav li {
  list-style-type: none; }

.bullets {
  display: list-item;
  list-style-type: square;
  margin-left: 20px; }

ol li {
  display: list-item;
  margin-left: 20px; }

/*-- 3.1 - Site Structure --*/
.wrapper {
  width: 85%;
  margin: 0 auto;
  padding: 30px 0; }

header, .mobile-nav {
  padding: 15px 20px; }

.wrapper p {
  margin: 0 0 1rem; }

/*-- 5.2 - Alignments --*/
.flex {
  display: flex; }

.justify-sb {
  justify-content: space-between; }

.justify-sa {
  justify-content: space-around; }

.justify-fs {
  justify-content: flex-start; }

.align-i-c {
  align-items: center; }

/*--------------------------------------------------------------
4.0 - MEDIA
-------------------------------------------------------------- */
.about-img {
  background: url(../images/selfportrait.jpg) no-repeat; }

.hero-img {
  background: url(../images/tree.jpg) no-repeat; }

.img {
  max-width: 100%;
  min-width: 300px;
  height: 300px;
  background-size: cover; }

.article-img-1 {
  background: url(../images/tree.jpg) no-repeat;
  height: 200px; }

.article-img-styles {
  background-size: cover;
  border: 1px solid #f2f0ed; }

/*--------------------------------------------------------------
5.0 - UTILITY
-------------------------------------------------------------- */
/*-- 5.1 - Background Colors/Colors --*/
.title, body > header a {
  color: #e6e6e6; }

i {
  color: #CCCCCC; }

.fa-twitter:hover {
  color: #1DA1F2; }

.fa-github:hover, body, a {
  color: #404040; }

.fa-linkedin:hover {
  color: #0077B5; }

.main-nav a:hover, .mobile-nav a:hover, .fa-bars:hover, .title a:hover, .article-item:hover .article-preview-title, .underline-bb:hover, .contact-h li a:hover {
  color: #71B6FC;
  border-color: #71B6FC; }

.article-item a {
  background-color: transparent; }

.mobile-nav {
  background-color: #F4F2F0; }

.bkgrd-grey {
  background-color: #404040; }

/*-- 1.3 - Buttons --*/
a {
  cursor: pointer;
  text-decoration: none; }

.underline-bb {
  display: inline-block;
  position: relative;
  border-bottom: solid 2px #555; }

.underline-bb:after {
  content: '';
  display: block;
  margin: auto;
  height: 2px;
  width: 0px;
  background: transparent;
  transition: width .5s ease, background-color .5s ease; }

.underline-bb:hover:after {
  width: 100%;
  background: #71B6FC; }

/*-- 5.3 - Breakpoints --*/
@media (min-width: 800px) {
  .mobile-btn-wrapper {
    display: none; }
  .main-nav {
    display: block; }
  .bkgrd-grey {
    background-color: #F4F2F0; }
  .title, body > header a {
    color: #404040;
    font-size: .9rem; }
  .wrapper {
    width: 85%; }
  .header-content h2 {
    text-align: center; }
  .main-nav-fa li:first-child {
    margin: 0;
    margin-left: -50px; }
  .header-content .article-title {
    text-align: left; }
  .responsive-img {
    display: flex;
    justify-content: flex-start; }
  .article-img-styles {
    width: 33.3%;
    margin-right: 20px; }
  .article-width {
    width: 66.6%; } }

@media (min-width: 950px) {
  .wrapper {
    width: 55%; }
  .about-img, .hero-img {
    background-position: 0 -40px; } }
