/*--------------------------------------------------------------
1.0 - TYPOGRAPHY
-------------------------------------------------------------- */
.fa {
  font-size: 1.5rem; }

.title h1 {
  font-size: 1.2rem; }

.title p, .mobile-nav a, .main-nav a {
  font-size: .9rem; }

.mobile-nav a, .main-nav a {
  font-weight: 400; }

h1, .mobile-nav a, .main-nav a, .header-content h2 {
  text-transform: uppercase;
  letter-spacing: .07rem; }

/*-- 1.1 - Headings --*/
.header-content {
  border-bottom: 1px solid #f2f0ed;
  margin-bottom: 1.5em;
  padding: 0 0 1.5em; }

.page-header {
  color: #aaa;
  font-size: .8rem;
  letter-spacing: .10rem;
  margin: 0;
  text-align: left;
  word-spacing: .5rem;
  font-weight: 400; }

