/*--------------------------------------------------------------
4.0 - MEDIA
-------------------------------------------------------------- */
.about-img {
  background: url(../images/selfportrait.jpg) no-repeat; }

.hero-img {
  background: url(../images/tree.jpg) no-repeat; }

.img {
  max-width: 100%;
  min-width: 300px;
  height: 300px;
  background-size: cover; }

.article-img-1 {
  background: url(../images/tree.jpg) no-repeat;
  height: 200px; }

.article-img-styles {
  background-size: cover;
  border: 1px solid #f2f0ed; }
