/*-- 5.3 - Breakpoints --*/
@media (min-width: 800px) {
  .mobile-btn-wrapper {
    display: none; }
  .main-nav {
    display: block; }
  .bkgrd-grey {
    background-color: #F4F2F0; }
  .title, body > header a {
    color: #404040;
    font-size: .9rem; }
  .wrapper {
    width: 85%; }
  .header-content h2 {
    text-align: center; }
  .main-nav-fa li:first-child {
    margin: 0;
    margin-left: -50px; }
  .header-content .article-title {
    text-align: left; }
  .responsive-img {
    display: flex;
    justify-content: flex-start; }
  .article-img-styles {
    width: 33.3%;
    margin-right: 20px; }
  .article-width {
    width: 66.6%; } }

@media (min-width: 950px) {
  .wrapper {
    width: 55%; }
  .about-img, .hero-img {
    background-position: 0 -40px; } }
